## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [6]:
import pandas as pd

In [7]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [15]:
print(data['sex'].value_counts())

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [56]:
print("Средний возраст мужчин",data[data['sex']=='Male']['age'].mean())

Средний возраст мужчин 39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [55]:
print("Доля граждан Соединенных Штатов",round(data[data['native-country']=='United-States'].shape[0]/data.shape[0]*100,1),"%")

Доля граждан Соединенных Штатов 89.6 %

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [54]:
print("Средний возраст людей с зарплатой более 50K в год:",(data['age'].loc[data['salary']=='>50K'].mean()))
print("Среднеквадратичное отклонение возраста людей с зарплатой более 50K в год:", data['age'].loc[data['salary']=='>50K'].std())
print("Средний возраст людей с зарплатой менее или равной 50K в год:", (data['age'].loc[data['salary']=='<=50K'].mean()))
print("Среднеквадратичное отклонение возраста людей с зарплатой менее или равной 50K в год:", data['age'].loc[data['salary']=='<=50K'].std())

Средний возраст людей с зарплатой более 50K в год: 44.24984058155847
Среднеквадратичное отклонение возраста людей с зарплатой более 50K в год: 10.519027719851826
Средний возраст людей с зарплатой менее или равной 50K в год: 36.78373786407767
Среднеквадратичное отклонение возраста людей с зарплатой менее или равной 50K в год: 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [72]:
# your code
print("Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование?")
if (data.loc[(data['salary']=='>50K') & ~(data['education'].isin(['Bachelors','Prof-school','Assoc-acdm','Assoc-voc','Masters','Doctorate']))].empty):
    print(True)
else:
    print(False)

Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование?
False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [165]:
print(data.groupby(['race', 'sex'])['age'].describe())
max_age_asian_pac_islander_male = data.groupby(['race', 'sex'])['age'].describe().loc[('Asian-Pac-Islander', 'Male'), 'max']
print("\nМаксимальный возраст мужчин расы Asian-Pac-Islander:", data.groupby(['race', 'sex'])['age'].describe().loc[('Asian-Pac-Islander', 'Male'), 'max'])

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Максимальный возраст мужчин расы Asian-Pac-Islander: 90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [89]:
rich_and_married_men=data.loc[(data['salary']=='>50K') & (data['marital-status'].isin(['Married-civ-spouse','Married-spouse-absent','Married-AF-spouse']))].shape[0]
rich_and_happy_men=data.loc[(data['salary']=='>50K') & ~(data['marital-status'].isin(['Married-civ-spouse','Married-spouse-absent','Married-AF-spouse']))].shape[0]
print('Кол-во мужчин,зарабатывающих много(>50K) и в то же время женатых -',rich_and_married_men)
print('Кол-во мужчин,зарабатывающих много(>50K) и в то же время холостых -',rich_and_happy_men)
if (rich_and_married_men > rich_and_happy_men):
    print('Женатых больше')
elif (rich_and_married_men > rich_and_happy_men):
    print('Холостых больше')
else:
    print('Их одинаковое кол-во')

Кол-во мужчин,зарабатывающих много(>50K) и в то же время женатых - 6736
Кол-во мужчин,зарабатывающих много(>50K) и в то же время холостых - 1105
Женатых больше

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [115]:
max_hours=data['hours-per-week'].max()
print("Максимальное кол-во часов в неделю - ",max_hours)
count_of_workacholic=data[data['hours-per-week'] == max_hours].shape[0]
print('Сколько людей работает такое кол-во часов - ',count_of_workacholic)
rich_workacholic=data.loc[(data['hours-per-week']==max_hours) & (data['salary']=='>50K')].shape[0]
print(f'Процент людей,которые получают много и работающих {max_hours} часов - ',round(rich_workacholic/count_of_workacholic*100,1),'%')

Максимальное кол-во часов в неделю -  99
Сколько людей работает такое кол-во часов -  85
Процент людей,которые получают много и работающих 99 часов -  29.4 %

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [126]:
print(data.groupby(['native-country','salary'])['hours-per-week'].mean().round(1).rename('Среднее кол-во часов работы'))

native-country  salary
?               <=50K     40.2
                >50K      45.5
Cambodia        <=50K     41.4
                >50K      40.0
Canada          <=50K     37.9
                          ...
United-States   >50K      45.5
Vietnam         <=50K     37.2
                >50K      39.2
Yugoslavia      <=50K     41.6
                >50K      49.5
Name: Среднее кол-во часов, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [131]:
age_bins = [0, 35, 70, 100]
age_labels = ['young', 'adult', 'retiree']
data['AgeGroup'] = pd.cut(data['age'], bins=age_bins, labels=age_labels, right=False)

629

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [146]:
print('Кол-во людей,получающих >50K по возрастным группам\n')
print(data[data['salary'] == '>50K'].groupby('AgeGroup',observed=True).size())
print('Группа,которая чаще всех получает >50K - ',data[data['salary'] == '>50K'].groupby('AgeGroup',observed=True).size().idxmax())

Кол-во людей,получающих >50K по возрастным группам

AgeGroup
young      1488
adult      6240
retiree     113
dtype: int64
Группа,которая чаще всех получает >50K -  adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [163]:
groupped_data=data.groupby(['occupation']).size()
print(groupped_data)
def filter_func(list):
    if list['age'].mean() <= 40 and (list['hours-per-week'] > 5).all():
        return True
    else:
        return False
filtered_groups=data.groupby('occupation').filter(filter_func)
print(filtered_groups.groupby('occupation').size())

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64
occupation
Armed-Forces    9
dtype: int64